.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 10;
  flex-direction: column;
  opacity: 1;
  animation: show 300ms linear
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 140, 255, 0.1);
  border-top-color: #290e7a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

p {
  margin: 18px 0 0;
  font-weight: 800;
  color: #290e7a;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}