.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.preview {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;

  transform: scale(0.95);
  transition: transform 0.2s ease;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.fadeIn .preview {
  transform: scale(1);
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.fadeOut .preview {
  transform: scale(0.95);
}

.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}

.closeBtn:hover {
  color: #000;
}

p{
  color: black
}

.buttonsContainer{
  text-align: center;
  margin: 20px 0 0;
}